<div class="container">

    <h1 class="text-center"> {{cocktailDetails.strDrink}}</h1>

    <div class="row">

            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="row">
                        <div class="col-12">
                            <img class="img-details"src="{{cocktailDetails.strDrinkThumb}}" alt="{{cocktailDetails.strDrink}}" height="80px">

                        </div>
                        <div class="col-12">

                            {{cocktailDetails.strCategory}} - {{cocktailDetails.strAlcoholic}} <br><br>
                            {{cocktailDetails.strGlass}}
                                
                    <p>Created by:  {{cocktailDetails.strOwner.username}}</p>
                        </div>
                            
                </div>
                                
                    

                  
            </div>
                    
            <div class="col-sm-12 col-md-7 col-lg-7">

                <h4>Instructions:</h4>
                <p>{{cocktailDetails.strInstructions}}</p>

                <h4>Ingredients:</h4>
                {{#each cocktailDetails.strIngredients}}
                    <ul>
                        <li>{{[]}}</li>
                    </ul>
                {{/each}}

            </div>

    

    </div>
    <hr>
     
      <p class= "text-center">Tags: 
                    {{#each cocktailDetails.strTags}}
                        <strong "style= background-color:black; color: white; padding: 3px;">{{[]}} </strong> 
                    {{/each}}
                    </p>

</div>
