








<div class="container">
  <h1 class="text-center">COCKTAILS</h1>
  <hr> 

        <div class="cocktail-list-container">
             
            <!-- <div class="cocktail-info"> </div> -->

            <div class="cocktail-db">
              <div class="row">
               {{#each allcocktails}}
                  <div class="col-sm-6 col-md-4 col-lg-4">
                        {{#each results}}
                        <img class="image-search" src="{{picture.path}}" alt="{{picture.name}}"></div>
                          {{/each}}
                        <div class="name-recipes">
                          <h3 class="text-center">{{strDrink}}</h3></div>
                        <div class="category">
                          <p class="text-center">{{strCategory}}</p></div>
                        <a class="d-flex justify-content-center btn btn-light"href="/cocktails/{{id}}">see more...</a>

                   </div>
                {{/each}}
              </div>
            </div>
       
    </div>
</div>    
<!-- 
              <div class="image"><img src="" alt="imagen"></div>
               <div class="name">Name</div>
               <div class="category">Category</div>



-->