<div class="container">

    <h1 class="text-center">Welcome, {{userData.username}}!</h1>

    <p class="text-center"> Your role is {{userData.role}}</p>
    <div class="row">
        <div class="col-3"></div>

        <div class="col-6">

            <a class="d-flex justify-content-center btn btn-dark" href="/cocktails/profile/new-cocktail">Create new
                recipe</a>
        </div>

        <div class="col-3"></div>

    </div>

    <h2 class="text-center">Your cocktails:</h2>
    <br>
    <div class="row">

        {{#each cocktails}}

        <div class="col-sm-6 col-md-4 col-lg-4">
            <img class="image-search mx-auto d-block" src="{{strDrinkThumb}}" alt="{{strDrink}}">
            <h3 class="text-center">{{strDrink}}</h3>


            <a class="d-flex justify-content-center btn btn-dark" href="/cocktails/{{id}}">See details</a><br>
            <a class="d-flex justify-content-center btn btn-dark" href="/cocktails/profile/edit-cocktail/{{id}}">Edit
                cocktail</a><br>
            <form class="d-flex justify-content-center" action="/cocktails/profile/{{_id}}/delete" method="post">
                <button class="btn btn-dark" type="submit">Delete</button>
            </form>
            <br>
        </div>

        {{/each}}

    </div>
    <br><br>





</div>